<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
    <th:block th:replace="fragments/commonHead :: commonHead"> </th:block>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

	<div class="container">
	
	<div class="page-header">
	  <h3>SignUp</h3>
	</div>
	
	<form class="form-horizontal" action="#" th:action="@{/auth/signup}" method="post" th:object="${userSignupModel}">
	<div class="col-sm-4">
    <p>Username: <input  class="form-control" type="text" th:field="*{username}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
	</div>
	<div class="col-sm-4">
    <p>Password: <input class="form-control" type="password" th:field="*{password}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
	</div>
	<div class="col-sm-4">
    <p>Repeate Password: <input class="form-control" type="password" th:field="*{repeatePassword}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('repeatePassword')}" th:errors="*{repeatePassword}"></p>
	</div>
	<div class="col-sm-4">
	<button type="submit" class="btn btn-success btn-md">Submit</button>
    <a th:href="@{/auth/signin}">Login</a>
    </div>
</form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
