
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/commonHead :: commonHead"> </th:block>
   <link th:href="@{/css/signin.css}" rel="stylesheet">
   <title>Sign-in</title>
</head>
<body class="text-center">

<form  class="form-signin" action="#" th:action="@{/auth/signin}" method="post" th:object="${userSigninModel}">

<div class="alert alert-danger alert-dismissible fade show" th:if="${param.loginError}" role="alert">
			  Errore di login
			</div>

<img class="mb-4" th:src="@{/brand/shopping.png}" alt="" width="72" height="72">
		  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		  
		  
	
    <label for="inputUsername" class="sr-only">Username</label>
     <input type="text" th:field="*{username}" class="form-control" placeholder="Username"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
   <button class="btn btn-lg btn-success btn-block" type="submit" value="Submit">Sign in</button>
    
    <a th:href="@{/auth/signup}">Registrati</a>
</form>
</body>
</html>
