<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/commonHead :: commonHead"> </th:block>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

	<div class="page-header">
	  <h3>Show Delivery</h3>
	</div>
	
		<div class='card'>
		    <div class='card-header'>
		        Delivery
		    </div>
		    <div class='card-body'>

				<div th:object="${delivery}">
				
				<dl class="row">
				<dt class="col-sm-3 text-right"> Description: </dt>
				<dd class="col-sm-9" th:text="*{description}">  </dd> 
				</dl>
				<dl class="row">
				<dt class="col-sm-3 text-right"> Price: </dt>
				<dd class="col-sm-9" th:text="*{price}">  </dd>
				</dl>
				<dl class="row">
				<dt class="col-sm-3 text-right"> Shipping Date: </dt>
				<dd class="col-sm-9" th:text="*{shippingDate}">  </dd>
				</dl>
				<dl class="row">
				<dt class="col-sm-3 text-right"> Customer: </dt>
				<dd class="col-sm-9" th:text="*{customer.name}">  </dd>
				</dl>
				
				<a class='btn btn-outline-secondary' th:href="@{/delivery}"> Back </a>
				
				</div>
			</div>
		</div>
			

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>