<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Update Delivery</h1>
<div>
    <form action="#" th:action="@{/delivery/updateDelivery}" th:object="${deliveryUpdateModel}" method="post">
      <input type="hidden" th:field="*{id}">
      <p style="color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
        <p>Description: <input th:field="*{description}" type="text"></p>
        <p style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        
        <p>Shipping Date: <input th:field="*{shippingDate}" type="date"></p>
        <p style="color:red" th:if="${#fields.hasErrors('shippingDate')}" th:errors="*{shippingDate}"></p>
        
        <p>Price: <input th:field="*{price}" type="number"></p>
        <p style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        
        <p> Customer </p>
        <select th:field="*{customer.id}">
			<option  th:each= "customer : ${customers}"  th:value="${customer.id}" th:text="${customer.name}" th:selected="*{customer}"/>
		</select>	
		 <p style="color:red" th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}"></p>
        <p><input type="submit" value="Modifica"/></p>
    </form>
</div>
</body>
</html>