<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <title>Gestione ordini</title>
<head th:insert="header.html :: header">
<meta charset="UTF-8">
</head>
<body>
<div class="container" >
Welcome

<p><a th:href="@{/customer/insert}" class="btn btn-primary mb-3">Add Customer</a></p>
<p><a th:href="@{/customer/}" class="btn btn-secondary mb-3">All Customers</a></p>

<p><a th:href="@{/delivery/insert}" class="btn btn-primary mb-3">Add Delivery</a></p>
<p><a th:href="@{/delivery/}" class="btn btn-secondary mb-3">All Deliveries</a></p>

</div>
</body>
</html>
