<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/commonHead :: commonHead"> </th:block>

   <title>Index</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
<h1 class="display-3 text-center"> Welcome in customer/delivery</h1>

 			
 			<div class="row justify-content-center">
			<div class="col-sm-6 text-center">
				<div class="jumbotron jumbotron-fluid">
					 <h1 class="display-8">Customers</h1>
					 <p><a class="btn btn-success btn-lg" th:href="@{/customer}" role="button">Search</a></p>	        	  
			     </div>
		    </div>
		    
		    
			<div class="col-sm-6 text-center">
				<div class="jumbotron jumbotron-fluid">
					 <h1 class="display-8">Deliveries</h1>
					 <p><a class="btn btn-success btn-lg" th:href="@{/delivery}" role="button">Search</a></p>	        	  
			     </div>
		    </div>
 </div>
<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
