<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <th:block th:replace="fragments/commonHead :: commonHead"> </th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>



<div class="container">
<h3>Delete Customer</h3>
<div class='card'>

	<div th:object="${customerDto}">
		<div class='card-header'>
			<h5 th:text= "|Sei sicuro di voler cancellare ${customerDto.name} ?|"></h5>
		</div>
		<div class='card-body'>
		<a class=" btn btn-danger" th:href="@{/customer/executeDelete/{id}(id=${customerDto.id})}"> Delete </a>
		
		<a class=" btn btn-success" th:href="@{/customer}"> Back </a>
		</div>
	</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>