<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Dashboard customers</h1>
<div>
    <form action="#" th:action="@{/customer}" th:object="${searchFilters}" method="get">
        <p>ID: <input th:field="*{id}" type="text"></p>
        <p>Name: <input th:field="*{name}" type="text"></p>
        <p>Address: <input th:field="*{address}" type="text"></p>
        <p>Mobile: <input th:field="*{mobile}" type="text"></p>
        <p><input type="submit" value="Cerca"/></p>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.mobile}"></td>
        <td>
        <a th:href="@{/customer/insert}"> Inserisci </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
