<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <div class='card-body' th:object = '${customer}'>
		    
		    	<dl class="row">
				  <dt class="col-sm-3 text-right">Name:</dt>
				  <dd class="col-sm-9" th:text="*{name}"></dd>
		    	</dl>
		    	
		    	<dl class="row">
				  <dt class="col-sm-3 text-right">Address</dt>
				  <dd class="col-sm-9" th:text="*{address}"></dd>
		    	</dl>
		    	
		    	<dl class="row">
				  <dt class="col-sm-3 text-right">Mobile</dt>
				  <dd class="col-sm-9" th:text="*{mobile}"></dd>
		    	</dl>
		    
		    	
		    	
		    	
		    </div>

</body>
</html>