<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Update customer</h1>
<div>
    <form action="#" th:action="@{/customer/executeUpdate/{id}(id=${customerDto.id})}" th:object="${customerDto}" method="post">       
        <p>Name: <input th:field="*{name}" type="text"></p>
        <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <p>Address: <input th:field="*{address}" type="text"></p>
        <p style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
        <p>Mobile: <input th:field="*{mobile}" type="text"></p>
        <p style="color:red" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></p>
        <p><input type="submit" value="Aggiorna"/></p>
    </form>
</div>

</body>
</html>
